flows.json
[{"id":"bc96b75b.5fe0e8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"196099ce.37b016","type":"ui_form","z":"bc96b75b.5fe0e8","name":"","label":"form","group":"eb506dbe.bffbb","order":1,"width":0,"height":0,"options":[{"label":"Enter the input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":200,"wires":[["71b9eebb.64138"]]},{"id":"71b9eebb.64138","type":"function","z":"bc96b75b.5fe0e8","name":"F1","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":200,"wires":[["507c1f27.651eb","6189fc26.cd07b4"]],"l":false},{"id":"507c1f27.651eb","type":"watson-conversation-v1","z":"bc96b75b.5fe0e8","name":"assistant","workspaceid":"a0c4e1d2-2f1b-4f7d-bf44-510af1115792","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/e82efeb7-2d9b-495f-9c58-2eeb96808248","timeout":"","optout-learning":false,"x":500,"y":140,"wires":[["eae8e0dd.03737","3126b68d.3b243a"]],"l":false},{"id":"6189fc26.cd07b4","type":"ui_text","z":"bc96b75b.5fe0e8","group":"eb506dbe.bffbb","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":300,"wires":[],"l":false},{"id":"3c8e52b4.0d158e","type":"ui_text","z":"bc96b75b.5fe0e8","group":"eb506dbe.bffbb","order":4,"width":18,"height":1,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":360,"wires":[],"l":false},{"id":"eae8e0dd.03737","type":"function","z":"bc96b75b.5fe0e8","name":"F2","func":"if(msg.payload.output.error){\n    msg.payload = \"please rephrase\";\n    return msg;\n}\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":220,"wires":[["3c8e52b4.0d158e"]],"l":false},{"id":"3126b68d.3b243a","type":"debug","z":"bc96b75b.5fe0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":728,"y":64,"wires":[],"l":false},{"id":"eb506dbe.bffbb","type":"ui_group","z":"","name":"support","tab":"bd61f79c.468678","order":1,"disp":true,"width":"18","collapse":false},{"id":"bd61f79c.468678","type":"ui_tab","z":"","name":"chatbot","icon":"bot","disabled":false,"hidden":false}]